In [1]:
import pandas as pd
import numpy as np


df = pd.read_excel('gdp.xlsx', index_col=False)

metrics = df['Unnamed: 0']

df = df.drop('Unnamed: 0', axis=1)
df

N = 6

dfs = np.split(df, np.arange(N, len(df.columns), N), axis=1)

dfs = dfs[1:]

dfs[1]

c:\Users\DEll\miniconda3\envs\postF\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

,1977,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,"Current prices, euro","At previous year's prices, euro","Changes in volume, %","Volume index, 2015 = 100","Volume series, reference year 2010","Volume series, reference year 2015"
1,4772,4362,0.1,48.6,16654,18638
2,4005,3670,-0.8,50.8,14047,15782
3,4689,4255,-1,50.9,17737,19713
4,3921,3563,-2.1,53.8,15171,16899
5,3917,3559,-2.1,54.6,15147,16873
6,2404,2164,-2.2,45.3,8248,9143
7,3449,3129,0.6,49.7,13496,15025
8,538,500,4.8,56.4,3086,3536
9,345,319,3.6,56.2,1622,1772
10,884,819,4.3,56.3,4705,5306
11,2565,2310,-0.6,47.2,8861,9809
12,1077,.,.,.,.,.
13,3030,2742,-0.9,47.6,11587,12945
14,3103,2809,0.3,49,11869,13260
15,4739,4739,.,.,4739,4739

In [2]:
first_columns = [df.iloc[:, 0] for df in dfs]

new_df = pd.concat(first_columns, axis=1)

new_df.index = metrics

new_df = new_df.drop(new_df.index[0])

new_df = new_df.T

new_df

Unnamed: 0,B1GMH Gross domestic product at market prices,B1NMH Net domestic product at market prices,B5G Gross national income (GNI),B5N Net national income,"B6N Disposable income, net","B6NS14 Disposable income, households, net","P3K Consumption expenditure, expenditure","P31K Individual consumption expenditure, expenditure","P32K Collective consumption expenditure, expenditure","P3JK Public consumption expenditure, expenditure","P3YK Private consumption expenditure, expenditure","F4S14 Loans, households","B7NS14 Adjusted disposable income, households, net","P41K Actual individual consumption, expenditure",EP Population (1 000 persons)
1976,4358,3700,4296,3639,3636,2211,3109,477,308,785,2324,925,2767,2800,4726
1977,4772,4005,4689,3921,3917,2404,3449,538,345,884,2565,1077,3030,3103,4739
1978,5271,4420,5181,4330,4326,2717,3791,590,364,954,2837,1274,3403,3427,4753
1979,6099,5150,6006,5058,5050,3115,4296,670,407,1076,3220,1546,3896,3890,4765
1980,7043,5925,6934,5816,5806,3601,4900,778,469,1247,3653,1827,4508,4432,4780
1981,7929,6653,7767,6491,6476,4000,5563,907,548,1455,4108,2142,5055,5014,4800
1982,8865,7441,8658,7233,7215,4574,6316,1017,619,1637,4679,2527,5762,5695,4827
1983,9831,8226,9601,7996,7973,5139,7018,1144,704,1848,5170,2921,6470,6313,4856
1984,10947,9160,10708,8921,8893,5560,7745,1311,764,2075,5670,3336,7066,6978,4882
1985,11877,9927,11649,9699,9666,6030,8527,1501,841,2341,6185,3822,7750,7684,4902
1986,12744,10640,12509,10406,10346,6396,9189,1654,886,2541,6648,4305,8285,8301,4918
1987,13725,11410,13467,11152,11084,6951,9948,1810,979,2789,7159,5084,9012,8967,4932
1988,15508,12919,15248,12659,12592,7403,10920,1975,1066,3041,7878,6493,9660,9853,4947
1989,17298,14344,16886,13931,13828,8297,12055,2200,1159,3360,8695,7372,10806,10895,4964
1990,18242,14925,17730,14413,14296,8932,12938,2484,1324,3807,9131,7727,11759,11615,4986
1991,17335,13903,16693,13260,13138,9527,13361,2671,1474,4145,9217,7810,12551,11889,5014
1992,16816,13409,15999,12593,12483,9650,13163,2619,1462,4081,9082,7477,12627,11702,5042
1993,16898,13468,15958,12529,12453,9388,13054,2487,1455,3942,9113,6998,12216,11584,5066
1994,17815,14350,17047,13582,13507,9050,13367,2495,1499,3994,9372,6689,11893,11852,5088
1995,19275,15791,18711,15227,15101,9808,14055,2662,1563,4224,9831,6736,12842,12478,5108
1996,19900,16326,19450,15877,15664,9836,14681,2776,1638,4414,10267,6467,12995,13026,5125
1997,21550,17820,21228,17498,17275,10482,15393,2850,1745,4595,10799,6292,13748,13642,5140
1998,23369,19442,22918,18991,18736,11006,16284,3052,1758,4810,11474,6693,14510,14520,5154
1999,24565,20425,24319,20179,19896,11719,16978,3142,1836,4978,12000,7357,15347,15138,5166
2000,26349,21885,26184,21721,21439,12143,17801,3323,1880,5203,12598,7988,15980,15914,5176
2001,27875,23123,27864,23113,22824,12760,18808,3429,2125,5554,13254,8617,16751,16683,5188
2002,28543,23657,28629,23744,23455,13374,19658,3660,2223,5883,13775,9454,17621,17435,5201
2003,29103,24087,28932,23915,23591,14014,20589,3865,2272,6136,14452,10629,18510,18317,5213
2004,30362,25115,30576,25328,25013,14668,21424,4085,2346,6431,14993,12041,19430,19078,5228
2005,31388,25860,31519,25991,25634,14955,22300,4286,2433,6719,15581,13759,19958,19867,5246
2006,32824,27046,33123,27344,26974,15458,23349,4468,2526,6994,16354,15443,20680,20823,5266
2007,35370,29231,35473,29335,28978,16299,24525,4685,2660,7345,17181,17059,21788,21865,5289
2008,36559,30004,36620,30065,29677,17128,25915,5046,2838,7883,18031,18257,23017,23077,5313
2009,34040,27392,34463,27814,27387,17565,25942,5230,2962,8192,17750,19141,23676,22981,5339
2010,35080,28497,35538,28956,28496,18361,26628,5349,2964,8313,18315,20229,24488,23664,5363
2011,36682,29896,36839,30053,29613,19081,27973,5611,2984,8595,19379,21239,25487,24989,5388
2012,37011,29940,37177,30105,29692,19441,28867,5888,3071,8959,19907,22197,26132,25795,5414
2013,37414,30232,37626,30444,29893,19731,29426,6000,3230,9230,20195,22676,26525,26196,5439
2014,37685,30472,38095,30881,30340,19887,29779,6032,3271,9304,20476,23292,26713,26508,5463
2015,38353,31091,38691,31430,30896,20162,30206,6268,3156,9423,20782,24042,27204,27050,5481
2016,39255,31910,39425,32081,31551,20411,30525,6337,3046,9383,21142,24994,27529,27478,5495
2017,40795,33265,40807,33277,32837,20784,30775,6356,3015,9371,21404,26090,27940,27761,5508
2018,42041,34217,42210,34387,33895,21409,31602,6612,3093,9705,21897,27240,28796,28509,5516
2019,43197,34989,43351,35143,34639,22062,32324,6916,3227,10143,22182,28226,29776,29098,5522
2020,42741,34328,43392,34979,34405,22138,31911,7161,3284,10445,21466,29385,30099,28627,5531
2021,44891,36187,45617,36913,36311,22801,33739,7606,3529,11136,22603,30417,31223,30210,5542
2022,47893,38511,48319,38937,38309,23650,35779,7894,3680,11574,24205,31314,32482,32099,5557
2023*,48925,38942,49072,39088,38530,24677,37713,9123,3444,12568,25146,31068,34705,34269,5577
2024*,49096,39044,49224,39172,38817,25242,37910,9278,3518,12796,25114,30966,35427,34392,5621